.Front-Page {
  background: whitesmoke;
}

.fp-title-bg {
  display: block;
  background: linear-gradient(15deg, #c42121, #d7ca3c, #1aac13, #213fc4, #c421b6);
  margin: 10px;
}

.fp-title {
  color: black;
  background-color: white;
  mix-blend-mode: screen;
}

.fp-about {
  padding-top: 1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.fp-about br {
  content: "";
  margin: 2rem;
  display: block;
  font-size: 200%;
}