.Thing-Container {
  width: 400px;
  height: 500px;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 30px;
  position: relative;
  border: 2px solid black;
}

.Thing-Container img, .Thing-Container figure {
  width: 90%;
  height: 200px;
  object-fit: contain;
  margin: 10px 0;
}

.Thing-Container figure {
  background: #aaa;
}

.Thing-Container p {
  text-align: center;
  height: 100px;
}

.Thing-Container button {
  background: #3a3;
  border: none;
  font-size: 1.5rem;
  color: white;
  width: 90%;
}

.Thing-Container .explosion {
  width: 100%;
  height: 100%;
  object-fit: contain;
}