.Data-Display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
}

.chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartjs-render-monitor {
  background: #fff;
  border-radius: 1rem;
}