.About-Page {
  padding-top: 1rem;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.4rem;
  font-size: 1.1rem;
  background: whitesmoke;
  padding: 1rem;
}

.About-Page h1 {
  margin-bottom: 3rem;
}

.About-Page br {
  content: "";
  margin: 2rem;
  display: block;
  font-size: 200%;
}